:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --footer-text-color: #545454;
    --warning-text-color: #FF001B;
    --accent-text-color: #FF6B08;
    --modal-text-color: #8C8C8C;
    --hover-btn-color: #f8a771;

    --footer-bg-color: #F7F7F7;
    --accent-bg-color: #FF6B01;
    --modal-bg-color: rgba(0, 0, 0, 0.2);

    --primary-font: 'Roboto', sans-serif;
}